node_modules

yarn-error.log
yarn.lock

src/save
# Local Netlify folder
.netlify

.cache
.netlify
_README.md

public/

__generated__
types/gatsby-types.d.ts
.eslintrc.js_1

.DS_Store

.env.development


ericportfolio/*