header a,
header h3 {
    transition: all 0.2s;
}

header a:hover {
    width: 28px !important;
    height: 28px !important;

}

header h3:hover {
    color: #07e;
    /* font-size: 32px; */
    transform: scale(1.1);
    
}